!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      %title OMSSA Web Interface
      = stylesheet_link_tag    "application"
      = stylesheet_link_tag    "login"
      = javascript_include_tag "application"
      = csrf_meta_tags
      %meta{:content => "", :name => "description"}
      %meta{:content => "Genesys Solutions", :name => "author"}
      %link{:href => "/favicon.ico", :rel => "icon", :type => "image/x-icon"}
      %link{:href => "/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}
          
  %body
    .topbar
      .topbar-inner
        .container
          %a.brand{:href => "#"} @ OMSSA
    .container
      .content
        .page-header
          %h1 OMSSA Web Interface
          %small [ Open Mass Spectrometry Search Algorithm ]
        #main-content
          = render :template => 'layouts/messages'
          
          = yield
                
        / main content
      / content
      %footer
        %p © Genesys Solutions 2011
    / container
